*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%), url("https://t3.ftcdn.net/jpg/02/88/80/38/360_F_288803822_0CJ8L3gr6w6nGnUeje6pCllCX7s986xz.jpg");
    background-position: center;
    background-size: cover;
    height: 109vh;
}